USE [master]
GO
/****** Object:  Database [Otel]    Script Date: 28.03.2023 11:31:21 ******/
CREATE DATABASE [Otel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Otel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Otel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Otel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Otel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Otel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Otel]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 28.03.2023 11:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MüşteriNo] [int] IDENTITY(1,1) NOT NULL,
	[MüşteriAdi] [varchar](50) NULL,
	[Yas] [int] NULL,
	[Meslek] [varchar](50) NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[MüşteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oteller]    Script Date: 28.03.2023 11:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oteller](
	[OtelNo] [int] IDENTITY(1,1) NOT NULL,
	[OtelAdi] [varchar](50) NULL,
	[İl] [varchar](50) NULL,
	[Tür] [varchar](50) NULL,
	[Yıldızı] [int] NULL,
 CONSTRAINT [PK_Oteller] PRIMARY KEY CLUSTERED 
(
	[OtelNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subeler]    Script Date: 28.03.2023 11:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subeler](
	[SubeNo] [int] IDENTITY(1,1) NOT NULL,
	[SubeAdi] [varchar](50) NULL,
	[SubeUlke] [varchar](50) NULL,
	[SubeSehir] [varchar](50) NULL,
	[Telefon] [varchar](50) NULL,
 CONSTRAINT [PK_Subeler] PRIMARY KEY CLUSTERED 
(
	[SubeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turlar]    Script Date: 28.03.2023 11:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turlar](
	[TurNo] [int] IDENTITY(1,1) NOT NULL,
	[TurAdi] [varchar](50) NULL,
	[İçerik] [varchar](50) NULL,
	[Ulaşım] [varchar](50) NULL,
	[KatilimSayisi] [int] NULL,
 CONSTRAINT [PK_Turlar] PRIMARY KEY CLUSTERED 
(
	[TurNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MüşteriNo], [MüşteriAdi], [Yas], [Meslek]) VALUES (1, N'Hilal', 28, N'Mühendis')
INSERT [dbo].[Musteriler] ([MüşteriNo], [MüşteriAdi], [Yas], [Meslek]) VALUES (2, N'Selin', 25, N'Yazılım Uzmanı')
INSERT [dbo].[Musteriler] ([MüşteriNo], [MüşteriAdi], [Yas], [Meslek]) VALUES (3, N'Tülay', 25, N'Avukat')
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Oteller] ON 

INSERT [dbo].[Oteller] ([OtelNo], [OtelAdi], [İl], [Tür], [Yıldızı]) VALUES (1, N'Mandarin', N'Muğla', N'Yurt İçi', 5)
INSERT [dbo].[Oteller] ([OtelNo], [OtelAdi], [İl], [Tür], [Yıldızı]) VALUES (2, N'Titanic Deluxe', N'Antalya', N'Yurt İçi', 5)
INSERT [dbo].[Oteller] ([OtelNo], [OtelAdi], [İl], [Tür], [Yıldızı]) VALUES (3, N'Salamis Bay Conti', N'Magosa', N'Yurt Dışı', 4)
SET IDENTITY_INSERT [dbo].[Oteller] OFF
GO
USE [master]
GO
