<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ecoland - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="~/sitetema/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/sitetema/css/animate.css">

    <link rel="stylesheet" href="~/sitetema/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/sitetema/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/sitetema/css/magnific-popup.css">

    <link rel="stylesheet" href="~/sitetema/css/aos.css">

    <link rel="stylesheet" href="~/sitetema/css/ionicons.min.css">

    <link rel="stylesheet" href="~/sitetema/css/flaticon.css">
    <link rel="stylesheet" href="~/sitetema/css/icomoon.css">
    <link href="~/sitetema/css/style.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Ecoland</a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item"><a href="#home-section" class="nav-link"><span>Hakkımızda</span></a></li>
                    <li class="nav-item"><a href="@Url.Action("Index","Musteri")" class="nav-link"><span>Müşteriler</span></a></li>
                    <li class="nav-item"><a href="@Url.Action("Index","Otel")" class="nav-link"><span>Oteller</span></a></li>
                    <li class="nav-item"><a href="@Url.Action("Index","Tur")" class="nav-link"><span>Turlar</span></a></li>
                    <li class="nav-item"><a href="@Url.Action("Index","Sube")" class="nav-link"><span>Şubeler</span></a></li>
                    <li class="nav-item"><a href="#contact-section" class="nav-link"><span>İletişim</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="home-section" class="hero">
        <img src="~/sitetema/images/blob-shape-3.svg" class="svg-blob" alt="Colorlib Free Template">
        <div class="home-slider owl-carousel">
            <div class="slider-item">
                <div class="overlay"></div>
                <div class="container-fluid p-0">
                    <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                        <div class="one-third order-md-last">
                            <div class="img" style="background-image: url(images/bg_1.jpg);">
                                <div class="overlay"></div>
                            </div>
                            <div class="bg-primary">
                                <div class="vr"><span class="pl-3 py-4" style="background-image: url(~/sitetema/images/bg_1-1.jpg);">Greece</span></div>
                            </div>
                        </div>
                        <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                            <div class="text">
                                <span class="subheading pl-5">Dünya'yı Keşfet</span>
                                <h1 class="mb-4 mt-3">Ecoland İle Tanışma Zamanı!</h1>
                                <p>Ecoland’dan rezervasyon yapan her misafirin artık bir dijital seyahat asistanı olduğunu biliyor musun?</p>

                                <p><a href="#" class="btn btn-primary px-5 py-3 mt-3"> <span class="ion-ios-arrow-forward"></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-item">
                <div class="overlay"></div>
                <div class="container-fluid p-0">
                    <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                        <div class="one-third order-md-last">
                            <div class="img" style="background-image: url(~/sitetema/images/bg_2.jpg);">
                                <div class="overlay"></div>
                            </div>
                            <div class="vr"><span class="pl-3 py-4" style="background-image: url(~/sitetema/images/bg_2-2.jpg);">Africa</span></div>
                        </div>
                        <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                            <div class="text">
                                <span class="subheading pl-5">Keşfet</span>
                                <h1 class="mb-4 mt-3"></span></h1>
                                <p>Ecoland’da onlarca tur seçeneği dünyayı ve Türkiye’yi keşfetmeniz için sizi bekliyor.<br>
                                Macerayı, lezzeti, kültürü, doğayı, kısacası seyahate dair her şeyi benzersiz turlarımız aracılığı <br>
                                ile keşfedebilir, içinizdeki gezgini ortaya çıkartabilirsiniz.</p>

                                <p><a href="#" class="btn btn-primary px-5 py-3 mt-3"> <span class="ion-ios-arrow-forward"></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-services-2" id="services-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    
                    <h2 class="mb-4">Hizmetlerimiz</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services text-center d-block">
                        <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-gliding"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Aktiviteler</h3>
                            <p>Tüplü Dalış,Rafting,Safari,Tekne Turu....</p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services text-center d-block">
                        <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-world"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Seyahat Rotası</h3>
                            <p>Farklı Rotalar Onlarca Seçenek</p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services text-center d-block">
                        <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-tour-guide"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Rehberlik Hizmeti</h3>
                            <p> Bizler, Ecoland olarak, birçok yabancı dilde son derece seçkin ve kalifiyeli  rehberlik hizmeti tasarlayıp sunmaktayız.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row no-gutters d-flex">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image: url(~/sitetema/images/about.jpg);">
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 px-lg-5 py-md-5 bg-darken">
                    <div class="py-md-5">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ftco-animate p-5 p-lg-0">
                                <span class="subheading">Tur Fırsatlar</span>
                                <h2 class="mb-4"></h2>
                                <p>Türkiye'nin keşfedilmeyi bekleyen doğal ve tarihi güzelliklerini deneyimli rehberler aracılığı ile yerinde görebilir,<br>
                                kültür turları ile tarihe yolculuk yapabilirsiniz. Jolly’de sayısız tur fırsatları benzersiz keşifler yapmanız için olanak tanır.<br>
                                Konforlu, güvenilir, deneyimli ve kaliteli hizmet anlayışıyla tur programlarını tasarlayan Jolly ile Anadolu'nun gizemlerini<br>
                                keşfedebilir; muhteşem manzaraların tadını çıkartabilirsiniz. Ya da Asya’dan Avrupa’ya uzanan geniş bir coğrafyada adım<br>
                                atılmadık yer bırakmayabilirsiniz. Köklü geçmişi, zengin mutfağı, kültürel mirasları ve doğal güzellikleri ile keşfedilmeyi <br>
                                bekleyen onlarca farklı şehir ve ülke, ayrıcalıklı tur fırsatları ile kapılarını aralıyor. </p>
                                <p>
                                    Jolly’nin kültür turları ile Türkiye’yi şimdi keşfetmeye başlayın. Büyüleyici atmosferiyle masalsı<br>
                                    Kapadokya turları, yeşile doyacağınız Karadeniz turları, evleriyle ve tarihiyle ünlü Batı Karadeniz turları <br>
                                    , farklı medeniyetlere ev sahipliği yapan Doğu Anadolu turları, hem lezzet hem tarih ile bezeli GAP turları,<br>
                                    muhteşem havası ile Kuzey Ege turları ve çok daha fazlası Jolly’nin tur fırsatlarında sizleri bekliyor.<br> 
                                    Jolly’nin turları ile her bütçeye uygun keşifler yapabilir, Türkiye'nin<br>
                                    en özel köşelerini dolaşabilir, ülkemizdeki eşsiz güzellikleri yerinde görebilirsiniz. Jolly’nin tur fırsatları ile<br>
                                    bütçenize göre seçim yapabilir, birden fazla il çıkış avantajlarından yararlanabilir, sevdiklerinizle birlikte<br>
                                    unutulmaz bir tatil geçirebilirsiniz. Tur fırsatları ile dilediğiniz şehre, dilediğiniz zaman seyahat edebilirsiniz.
                                </p>
                                <p></p>
                                <p><a href="#" class="btn btn-primary py-3 px-4"> Fısatları İncele</a> <a href="#" class="btn btn-white py-3 px-4">İletişim</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro img" id="destination-section" style="background-image: url(~/sitetema/images/bg_3.jpg); ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <h2>Tatilinizi Ertelemeyin</h2>
                    <p>Unutulmaz bir tatil deneyimi için keşfetmeye başlayın.</p>
                    <p class="mb-0"><a href="#" class="btn btn-white px-4 py-3">Yeni Yerler Keşfet</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">En İyi Rotalar</span>
                    <h2 class="mb-4">Seyahat Edilecek En İyi Yerler</h2>
                    <p>Seyahat etmek insanı özgür hissettiren en güzel duygulardan biridir. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <div class="vr"><span>Sale</span></div>
                            <a href="destination.html"><img src="~/sitetema/images/Kıbrıs.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price"><span class="old-price mr-2">$500</span>$700</h4>
                            <span>Otel</span>
                            <h3><a href="destination.html">Les Ambassadeurs Hotel & Casino,Girne</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/Kıbrıs.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <a href="destination.html"><img src="~/sitetema/images/Belek.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>Otel</span>
                            <h3><a href="destination.html">Les Ambassadeurs Hotel & Casino,Belek</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/Belek.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <a href="destination.html"><img src="~/sitetema/images/Yazıcı.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>Otel</span>
                            <h3><a href="destination.html">Grand Yazıcı Club Marmaris Palace,Marmaris</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/Yazıcı.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <a href="destination.html"><img src="~/sitetema/images/İtalya.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>15 Days Tour</span>
                            <h3><a href="destination.html">Büyük İtalya Turu THY ile</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/İtalya.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <a href="destination.html"><img src="~/sitetema/images/Napoli.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price">$1500</h4>
                            <span>15 Days Tour</span>
                            <h3><a href="destination.html">Napoli Turu </a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/Napoli.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <a href="destination.html"><img src="~/sitetema/images/Maldiv.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price">$3000</h4>
                            <span>15 Days Tour</span>
                            <h3><a href="destination.html">Maldivler Turu</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/Maldiv.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Konaklama</span>
                    <h2 class="mb-4">En Çok Tercih Edilen Oteller</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <div class="vr"><span>Sale</span></div>
                            <a href="hotel.html"><img src="~/sitetema/images/Kıbrıs.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price"><span class="old-price mr-2">$500</span>$400</h4>
                            <span>3 nights</span>
                            <h3><a href="hotel.html">Luxury Hotel in Kıbrıs</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/Kıbrıs.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <a href="hotel.html"><img src="~/sitetema/images/Nashira.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>3 nights</span>
                            <h3><a href="hotel.html">Nashira City Resort Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/Nashira.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <a href="hotel.html"><img src="~/sitetema/images/nuh.jpg" class="img-fluid" alt="Colorlib Template"></a>
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>3 nights</span>
                            <h3><a href="hotel.html">Nuhun Gemisi Deluxe Hotel & Spa</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="~/sitetema/images/nuh.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
            </div>
           
         

    <section class="ftco-section testimony-section">
        <img src="~/sitetema/images/blob-shape-2.svg" class="svg-blob" alt="Colorlib Free Template">
        <img src="~/sitetema/images/blob-shape-2.svg" class="svg-blob-2" alt="Colorlib Free Template">
        <div class="container">
            <div class="row justify-content-center pb-3">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading"></span>
                    <h2 class="mb-4">Müşteri Yorumları</h2>
                </div>
            </div>
            <div class="row ftco-animate justify-content-center">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img" style="background-image: url(~/sitetema/images/person_1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text px-4 pb-5">
                                    <p class="mb-4">Hersey çok iyi tüm personel güleryüzlü ve görevlerinde başarılılar,yönetim ekibini de bu vesile ile tebrik ederim.</p>
                                    <p class="name">Ayşen Sözen</p>
                                    <span class="position">Artist</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img" style="background-image: url(~/sitetema/images/person_2.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text px-4 pb-5">
                                    <p class="mb-4">Tek kelimeyse olağanüstü.</p>
                                    <p class="name">Elif Samancı</p>
                                    <span class="position">Youtuber</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img" style="background-image: url(~/sitetema/images/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text px-4 pb-5">
                                    <p class="mb-4">Mükemmel bir otel yiyecek ve içecekler kaliteli. Çalışanlar güler yüzlü ilgili.</p>
                                    <p class="name">Güner Tüfekçi</p>
                                    <span class="position">Mühendis</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img" style="background-image: url(~/sitetema/images/person_1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text px-4 pb-5">
                                    <p class="mb-4">Otelin mimarisini çok beğendik. Yemekler çok kaliteliydi. Şeflerin damak tadlarının çok iyi olduğunu düşünüyorum. </p>
                                    <p class="name">Başak Kendir</p>
                                    <span class="position">Youtuber</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap text-center py-4 pb-5">
                                <div class="user-img" style="background-image: url(~/sitetema/images/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text px-4 pb-5">
                                    <p class="mb-4">Temiz ve güvenli bir tesis.</p>
                                    <p class="name">Duygu Avcı</p>
                                    <span class="position">İçerik Geliştirici</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">İletişim</span>
                    <h2 class="mb-4">İletişime Geçin</h2>
                    <p></p>
                </div>
            </div>

            <div class="row block-9">
                <div class="col-md-7 order-md-last d-flex">
                    <form action="#" class="bg-light p-4 p-md-5 contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="İsim">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Konu">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>

                <div class="col-md-5 d-flex">
                    <div class="row d-flex contact-info mb-5">
                        <div class="col-md-12 ftco-animate">
                            <div class="box p-2 px-3 bg-light d-flex">
                                <div class="icon mr-3">
                                    <span class="icon-map-signs"></span>
                                </div>
                                <div>
                                    <h3 class="mb-3">Adres</h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-animate">
                            <div class="box p-2 px-3 bg-light d-flex">
                                <div class="icon mr-3">
                                    <span class="icon-phone2"></span>
                                </div>
                                <div>
                                    <h3 class="mb-3">Telefon Numarası </h3>
                                    <p><a href="tel://1234567920">(___)___ __ __ </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-animate">
                            <div class="box p-2 px-3 bg-light d-flex">
                                <div class="icon mr-3">
                                    <span class="icon-paper-plane"></span>
                                </div>
                                <div>
                                    <h3 class="mb-3">Email Adresi</h3>
                                    <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-animate">
                            <div class="box p-2 px-3 bg-light d-flex">
                                <div class="icon mr-3">
                                    <span class="icon-globe"></span>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div id="map" class="bg-white"></div>
    </section>

    <section class="ftco-gallery">
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/sitetema/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/sitetema/images/gallery-1.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/sitetema/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/sitetema/images/gallery-2.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/sitetema/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/sitetema/images/gallery-3.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/sitetema/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/sitetema/images/gallery-4.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/sitetema/images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/sitetema/images/gallery-5.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/sitetema/images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/sitetema/images/gallery-6.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Hakkımızda <span><a href="index.html">Ecoland</a></span></h2>
                        <p>Unutulmaz Seyahatler...<br>Ecoland ile unutulmaz bir tatil deneyimi sizleri bekliyor.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Bilgi</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Online Yardım</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Müşteri Hizmetleri</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Rezervasyon</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Gizlilik</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Kullanım Sözleşmesi</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Deneyim</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Macera</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Otel ve Restaurant</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Kumsal</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Doğa</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Kamp</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Balayı</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Yardım İçin : </h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Hikaye Sokak No:11 34394 Marmaris/ Muğla</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">00785421582</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@ecoland.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/sitetema/js/jquery.min.js"></script>
    <script src="~/sitetema/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/sitetema/js/popper.min.js"></script>
    <script src="~/sitetema/js/bootstrap.min.js"></script>
    <script src="~/sitetema/js/jquery.easing.1.3.js"></script>
    <script src="~/sitetema/js/jquery.waypoints.min.js"></script>
    <script src="~/sitetema/js/jquery.stellar.min.js"></script>
    <script src="~/sitetema/js/owl.carousel.min.js"></script>
    <script src="~/sitetema/js/jquery.magnific-popup.min.js"></script>
    <script src="~/sitetema/js/aos.js"></script>
    <script src="~/sitetema/js/jquery.animateNumber.min.js"></script>
    <script src="~/sitetema/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/sitetema/js/google-map.js"></script>

    <script src="~/sitetema/js/main.js"></script>

</body>
</html>
